@model string
    <div class="row">
        <div class="col-md-12">
            <a asp-controller="@Model" asp-action="Create" class="btn btn-info btn-new">
                <i class="bi bi-plus-circle">New @Model</i>
            </a>
        </div>
    </div>