@model Forum
@{
    ViewData["Title"] = Model.Name + " - Forum";
    string[] btnNewParams = { "Topic", Model.Id.ToString()};
}
@await Html.PartialAsync("_AddNewButton", btnNewParams)
<div class="row container-content">
    @if (Model.TopicCount == 1)
    {
        <div class="col col-md-6 offset-3">
            <h1 class="text-info">This forum has no topics yet</h1>
            <hr />
        </div>
    }

    <div class="col-md-10 offset-1">
        <div class="bs-component">
            <table class="table listing-table">

                <thead>
                    <tr>
                        <th>@Model.Name</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <a asp-controller="Forum" asp-action="Details" asp-route-id="1">Test forum name </a>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>